<nav class="site-nav">
  <a href="{{ '/' | relative_url }}">Home</a>
  <a href="{{ '/about' | relative_url }}">About</a>
  <a href="{{ '/research' | relative_url }}">Research</a>
  <a href="{{ '/publications' | relative_url }}">Publications</a>
  <!-- <a href="{{ '/teaching' | relative_url }}">Teaching</a> -->
  <a href="{{ '/cv' | relative_url }}">CV</a>
  <a href="{{ '/news' | relative_url }}">News</a>
  <a href="{{ '/blog' | relative_url }}">Blog</a>
  <a href="{{ '/contact' | relative_url }}">Contact</a>
</nav>
